@import "fonts/vertx";
@import "settings/vertx";
@import "components/asciidoc";
@import "components/awesome-icons";

// Otherwise the color of the lead style (first paragraph)
%lead {
  color: $title-font-color;
}

// Otherwise the font is too big for the lead paragraph
.paragraph.lead > p,
#preamble > .sectionbody > .paragraph:first-of-type p {
  @extend %lead;
  font-size: $base-font-size;
}

// Override this hardcoded, font appears thinner on my screen (Retina?)
body {
  -webkit-font-smoothing: subpixel-antialiased;
}

#content {
  margin-top: 5em;
}

.sect1 {
  margin-top: 5em;
}