---
template: page.html
title: Vert.x Community
heading: Community
subheading: Vert.x is an independent project and includes contributions from many individuals and organisations.
---

<div class="container">
  <div class="community-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h3>Get Help</h3>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h4><a href="https://groups.google.com/forum/?fromgroups#!forum/vertx">User Group</a></h4>
        <p>A Google Group to discuss all issues related to <em>using</em> Vert.x.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h4><a href="https://groups.google.com/forum/?fromgroups#!forum/vertx-dev">Developer Group</a></h4>
        <p>A group for Vert.x core <em>developers</em> and <em>contributors</em>.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-4 col-md-offset-0">
        <h4><a href="https://webchat.freenode.net/?channels=#vertx">IRC channel</a></h4>
        <p>This is our day-to-day office: <em>#vertx</em> on
        freenode.net.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-3">
        <h4><a href="https://github.com/vert-x3/wiki/wiki">Wiki</a></h4>
        <p>The Vert.x wiki contains useful information such as a
        <a href="https://github.com/vert-x3/wiki/wiki/How-to-contribute-to-Vert.x">How to contribute</a>
        guide and the <a href="https://github.com/vert-x3/issues-and-wiki/wiki/Vert.x-Roadmap">Roadmap</a>.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-4 col-md-offset-0">
        <h4><a href="https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Vertx">Issues</a></h4>
        <p>Please file issues related to the core Vert.x project in
        <a href="https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Vertx">Eclipse Bugzilla</a>.
        File issues related to non-core Vert.x projects in the appropriate GitHub issues.</p>
      </div>
    </div>
  </div>

  <hr>

  {# macro that iterates over a list of developers and generates columns #}
  {% macro generate_devs(title, developers) %}
    {% set res = {"xs": 1, "sm": 2, "md": 3, "lg": 4} %}
    {% for cols in res %}
      {% set outerloopkey = loop.key %}
      {% set colwidth = 12 / cols %}
      <div class="visible-{{ outerloopkey }}-block">
        <div class="row community-row">
          {% for dev in developers %}
            {% if loop.first %}
              <div class="col-sm-{{ colwidth }}">
                <h3>{{ title }}</h3>
              </div>
            {% elseif loop.index0 % (cols - 1) == 0 %}
              </div>
              <div class="row community-row">
                <div class="col-sm-{{ colwidth }}">&nbsp;</div>
            {% endif %}
            <div class="col-sm-{{ colwidth }}">
              <div class="media">
                <div class="media-left">
                  <img class="contributor-avatar" src="{{ dev.avatar }}" width="80" height="80">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ dev.name | safe }}</h4>
                  <p>
                    {% if dev.role || dev.contribution %}
                      {{ dev.role || dev.contribution }}<br>
                    {% endif %}
                    {% if dev.homepage %}
                      <a href="{{ dev.homepage }}">{% icon "globe" %}</a>
                    {% endif %}
                    {% if dev.github %}
                      <a href="{{ dev.github }}">{% icon "github" %}</a>
                    {% endif %}
                    {% if dev.twitter %}
                      <a href="{{ dev.twitter }}">{% icon "twitter" %}</a>
                    {% endif %}
                    {% if dev.google_plus %}
                      <a href="{{ dev.google_plus }}">{% icon "google+" %}</a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endmacro %}

  <div class="community-container">

    {% set full_time_developers = [{
      name: "Tim Fox",
      role: "Project lead",
      avatar: "http://www.gravatar.com/avatar/9cd3a5dcf7413cb13ba60bf8d520ea9b?s=80",
      homepage: "http://tfox.org/",
      github: "https://github.com/purplefox",
      twitter: "https://twitter.com/timfox"
    }, {
      name: "Julien Viet",
      role: "Core developer",
      avatar: "http://www.gravatar.com/avatar/cb52062fbd7e159b54e3c298d622fe72?s=80",
      homepage: "http://blog.julienviet.com",
      github: "https://github.com/vietj",
      twitter: "https://twitter.com/julienviet"
    }] %}

    {{ generate_devs("Full time developers", full_time_developers) }}

  </div>

  <div class="community-container contributors">

    {% set contributors = [{
      name: "Michel Kr&auml;mer",
      contribution: "Web-site",
      avatar: "http://www.gravatar.com/avatar/bdcf8af7892cb0147cb22828d37e872f?s=80",
      homepage: "http://www.michel-kraemer.com",
      github: "https://github.com/michel-kraemer",
      google_plus: "https://plus.google.com/115526316201910245712"
    }, {
      name: "Johannes Sch&uuml;th",
      avatar: "http://www.gravatar.com/avatar/1e57b87157678193e7a0faf22ae3e958?s=80",
      homepage: "http://www.jotschi.de",
      github: "https://github.com/jotschi",
      twitter: "https://twitter.com/jotschi"
    }, {
      name: "Marcel Soute",
      avatar: "http://www.gravatar.com/avatar/4fe2cb46fafbdfd35b32be964b0b1597?s=80",
      github: "https://github.com/msoute",
      twitter: "https://twitter.com/marcelsoute"
    }, {
      name: "Deven Phillips",
      avatar: "https://en.gravatar.com/userimage/30123434/0b6e8988b6f3ad4e127c8cd0fc9a99c7.jpg?size=80",
      contribution: "Examples, Testing, Documentation",
      homepage: "http://blog.zanclus.com/",
      github: "https://github.com/InfoSec812",
      google_plus: "https://plus.google.com/+DevenPhillips",
      twitter: "https://twitter.com/InfoSec812"
    }, {
      name: "Ferran Puig",
      avatar: "http://www.gravatar.com/avatar/1490b5d8f7be9ccf0c056ff58ba95e0e?s=80",
      github: "https://github.com/sisqbates",
      twitter: "https://twitter.com/sisqbates"
    }] %}

    {{ generate_devs("Contributors", contributors) }}

    <div class="row community-row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
        <h4 class="many-others">... and many others.</h4>
      </div>
    </div>
  </div>

  <hr>

  <div class="community-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <h3>Awards</h3>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <a href="http://jaxenter.com/jax-innovation-awards-2014-champions-declared-107796.html" class="award"><img src="{{ site_url }}assets/JAX_winner.gif"></a>
      </div>
    </div>
  </div>
</div>
