{% include "header.html" %}
<div class="container">
  <div class="row blog">
    <article class="blog-post">
      <h2 class="blog-post-title">{{title}}</h2>
      {% if date %}
      <p class="blog-post-meta">{{date | date}} by
        <a href="http://github.com/{{author}}">{{author}}</a></p>
      {% endif %}
      <!--%%content%%-->
      <article>{{contents | safe}}</article>
      <!--%%end-of-content%%-->
    </article>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'vertx';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
{% include "footer.html" %}
