---
template: page.html
title: Who's Using Vert.x?
heading: Who's Using Vert.x?
subheading: Here's a selection of organisations who are already using Vert.x,
page_header_no_gap: true
---

<div class="highlight highlight-who">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- iterate over logos and generate rows and cols for different resolutions -->
        {% set res = {"xs": 1, "sm": 2, "md": 3, "lg": 4} %}
        {% for cols in res %}
          {% set outerloopkey = loop.key %}
          {% set colwidth = 12 / cols %}
          <div class="visible-{{ outerloopkey }}-block">
            <div class="row user-logos">
              {% for logo in users_all %}
                <div class="col-sm-{{ colwidth }} user-logo">
                  <a href="{{ logo.link }}"><img src="{{ site_url }}assets/user_logos/{{ logo.src }}" width="180" height="{{ logo.height }}"></a>
                </div>
                {% if loop.index % cols == 0 %}
                  </div>
                  <div class="row user-logos">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="row">
          <div class="col-sm-12 wanttobelisted">
            Want to be listed here? Please <a href="mailto:vertx-enquiries@googlegroups.com">contact us</a>! (Private list)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
