---
template: page.html
title: Vert.x
stickyheader: true
---

<div class="index-header" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <h2><strong>Vert.x</strong> is a tool-kit for building <strong>reactive</strong> applications on the <strong>JVM</strong>.</h2>
        <div class="buttons">
          <a class="btn btn-default btn-lg btn-transparent" href="https://bintray.com/vertx/downloads/distribution/view" role="button">{% icon "install" %} Download v3.0.0</a><br>
          <span class="github-btn">
            <iframe src="https://ghbtns.com/github-btn.html?user=eclipse&amp;repo=vert.x&amp;type=star&amp;count=true&amp;size=large"
                  frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container highlight highlight-scale">
  <div class="row">
    <div class="col-sm-6">
      <h2>Scale</h2>
      <p>Vert.x is <em>event driven</em> and <em>non blocking</em>. This means your app can handle a lot of concurrency
        using a small number of kernel threads. Vert.x lets your app scale with minimal hardware.</p>
    </div>

    <div class="col-sm-offset-1 col-sm-5 text-right">
      <img src="{{ site_url }}assets/reactive.svg" height="100%">
    </div>
  </div>
</div>

<div class="highlight highlight-polyglot">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 code-samples">
        <!-- code samples -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#ws_java" data-toggle="tab">Java</a></li>
          <li><a href="#ws_js" data-toggle="tab">JavaScript</a></li>
          <li><a href="#ws_groovy" data-toggle="tab">Groovy</a></li>
          <li><a href="#ws_ruby" data-toggle="tab">Ruby</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="ws_java">
            <pre class="prettyprint"><code class="java">
import io.vertx.core.AbstractVerticle;
public class Server extends AbstractVerticle {
  public void start() {
    vertx.createHttpServer().requestHandler(req -> {
      req.response()
        .putHeader("content-type", "text/plain")
        .end("Hello from Vert.x!");
    }).listen(8080);
  }
}</code></pre>
          </div>

          <div class="tab-pane" id="ws_js">
            <pre class="prettyprint"><code class="javascript">
vertx.createHttpServer()
  .requestHandler(function (req) {
    req.response()
      .putHeader("content-type", "text/plain")
      .end("Hello from Vert.x!");
}).listen(8080);</code></pre>
          </div>

          <div class="tab-pane" id="ws_groovy">
            <pre class="prettyprint"><code class="groovy">
vertx.createHttpServer().requestHandler({ req ->
  req.response()
    .putHeader("Content-Type", "text/html")
    .end("Hello from Vert.x!")
}).listen(8080)</code></pre>
          </div>

          <div class="tab-pane" id="ws_ruby">
            <pre class="prettyprint"><code class="ruby">
$vertx.create_http_server().request_handler() { |req|
  req.response()
    .put_header("content-type", "text/plain")
    .end("Hello from Vert.x!")
}.listen(8080)</code></pre>
          </div>

        </div>
      </div>
      <div class="col-sm-6 text-right">
        <h2>Polyglot</h2>
        <p>You can use Vert.x with multiple languages including <strong>Java</strong>, <strong>JavaScript</strong>,
          <strong>Groovy</strong>, and <strong>Ruby</strong>.</p>
        <p>Vert.x doesn't preach about what language is <em>best</em> &mdash; you choose the languages <em>you</em> want
          based on the task at hand and the skill-set of your team.</p>
        <p>We provide <em>idiomatic</em> APIs for every language that Vert.x supports.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-general">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h3>General purpose</h3>
        <img src="{{ site_url }}assets/general_purpose.svg">
        <p>Vert.x is incredibly flexible - whether it's simple network utilities,
          sophisticated modern web applications, HTTP/REST microservices, high volume event processing or a full blown
          back-end message-bus application, Vert.x is a great fit.</p>
        <p>Vert.x is used by <a href="{{ site_url }}whos_using">many different companies</a> from real-time gaming to banking and everything in
        between.</p>
      </div>

      <div class="col-sm-6 text-center">
        <h3>Unopinionated</h3>
        <img src="{{ site_url }}assets/opinion.svg">
        <p>Vert.x is not a restrictive framework or container and we don't tell you a <em>correct</em> way to write an application.
          Instead we give you a lot of useful bricks and let you create your app the way <em>you</em> want to.</p>
        <p>Need some guidance? We provide a large selection of <a href="https://github.com/vert-x3/vertx-examples">examples</a> to get you
          started for the particular type of application you want to write.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-fun">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Vert.x is <em>fun</em></h2>
        <p>Enjoy being a developer again.</p>
        <p>Unlike restrictive traditional application containers, Vert.x gives you
          incredible power and agility to create compelling, scalable, 21st century applications the way you want to,
          with a minimum of fuss, in the language you want.</p>
      </div>
      <div class="col-sm-6 highlight-fun-right">
        <ul>
          <li><p>Vert.x is <em>lightweight</em> - Vert.x core is around 650kB in size.</p></li>
          <li><p>Vert.x is <em>fast</em>. Here are some independent
            <a href="https://www.techempower.com/benchmarks/#section=data-r8&hw=i7&test=plaintext">numbers</a>.</p></li>
          <li><p>Vert.x is <em>not an application server</em>. There's no monolithic Vert.x instance into which you deploy applications.
            You just run your apps wherever you want to.</p></li>
          <li><p>Vert.x is <em>modular</em> - when you need more bits just add the bits you need and nothing more.</p></li>
          <li><p>Vert.x is <em>simple but not simplistic</em>. Vert.x allows you to create powerful apps, simply.</p></li>
          <li><p>Vert.x is an ideal choice for creating light-weight, high-performance, <em>microservices</em>.</p></li>
        </ul>
      </div>
    </div>

    <div class="row highlight highlight-stack">
      <div class="col-sm-12 text-center">
        <p>Have a private enquiry about Vert.x? Please <a href="mailto:vertx-enquiries@googlegroups.com">contact us</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-who">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Who's using Vert.x?</h2>
        <!-- iterate over logos and generate rows and cols for different resolutions -->
        {% set res = {"xs": 1, "sm": 2, "md": 3, "lg": 4} %}
        {% for cols in res %}
          {% set outerloopkey = loop.key %}
          {% set colwidth = 12 / cols %}
          <div class="visible-{{ outerloopkey }}-block">
            <div class="row user-logos">
              {% for logo in users_home_page %}
                <div class="col-sm-{{ colwidth }} user-logo">
                  <a href="{{ logo.link }}"><img src="{{ site_url }}assets/user_logos/{{ logo.src }}" width="180" height="{{ logo.height }}"></a>
                </div>
                {% if loop.index % cols == 0 %}
                  </div>
                  <div class="row user-logos">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="row">
          <div class="col-sm-12 wanttobelisted">
            <a class="btn btn-default btn-md btn-transparent" href="{{ site_url }}whos_using" role="button">{% icon "list" %} More &hellip;</a><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
