---
template: page.html
title: Vert.x
stickyheader: true
---

<div class="index-header" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <h2><strong>Vert.x</strong> is a tool-kit for building <strong>reactive</strong> applications on the <strong>JVM</strong>.</h2>
        <div class="buttons">
          <a class="btn btn-default btn-lg btn-transparent" href="https://bintray.com/vertx/downloads/distribution/view" role="button">{% icon "install" %} Download v3.0-milestone6</a><br>
          <span class="github-btn">
            <iframe src="https://ghbtns.com/github-btn.html?user=eclipse&amp;repo=vert.x&amp;type=star&amp;count=true&amp;size=large"
                  frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container highlight">
  <div class="row">
    <div class="col-sm-6">
      <h2>Reactive</h2>
      <p>Vert.x is <em>event driven</em> and <em>non blocking</em>. This means you can handle a lot of concurrency in your apps using a small
        number of threads. Vert.x lets your apps scale with minimal hardware.</p>
    </div>

    <div class="col-sm-offset-1 col-sm-5 text-right">
      <img src="{{ site_url }}assets/reactive.svg" height="100%">
    </div>
  </div>
</div>

<div class="highlight highlight-polyglot">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 code-samples">
        <!-- code samples -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#ws_java" data-toggle="tab">Java</a></li>
          <li><a href="#ws_js" data-toggle="tab">JavaScript</a></li>
          <li><a href="#ws_groovy" data-toggle="tab">Groovy</a></li>
          <li><a href="#ws_ruby" data-toggle="tab">Ruby</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="ws_java">
            <pre class="prettyprint"><code class="java">import io.vertx.core.AbstractVerticle;

public class Server extends AbstractVerticle {
  @Override
  public void start() throws Exception {
    vertx.createHttpServer().requestHandler(req -> {
      req.response()
        .putHeader("Content-Type", "text/html")
        .end("&lt;html>&lt;body>&lt;h1>Hello from Vert.x!" +
          "&lt;/h1>&lt;/body>&lt;/html>");
    }).listen(8080);
  }
}</code></pre>
          </div>

          <div class="tab-pane" id="ws_js">
            <pre class="prettyprint"><code class="javascript">vertx.createHttpServer().requestHandler(function (req) {
  req.response()
    .putHeader("Content-Type", "text/html")
    .end("&lt;html>&lt;body>&lt;h1>Hello from Vert.x!" +
      "&lt;/h1>&lt;/body>&lt;/html>");
}).listen(8080);</code></pre>
          </div>

          <div class="tab-pane" id="ws_groovy">
            <pre class="prettyprint"><code class="groovy">vertx.createHttpServer().requestHandler({ req ->
  req.response()
    .putHeader("Content-Type", "text/html")
    .end("&lt;html>&lt;body>&lt;h1>Hello from Vert.x!" +
      "&lt;/h1>&lt;/body>&lt;/html>")
}).listen(8080)</code></pre>
          </div>

          <div class="tab-pane" id="ws_ruby">
            <pre class="prettyprint"><code class="ruby">$vertx.create_http_server().request_handler() { |req|
  req.response()
    .put_header("content-type", "text/html")
    .end("&lt;html>&lt;body>&lt;h1>Hello from Vert.x!" +
      "&lt;/h1>&lt;/body>&lt;/html>")
}.listen(8080)</code></pre>
          </div>

        </div>
      </div>
      <div class="col-sm-6 text-right">
        <h2>Polyglot</h2>
        <p>You can use Vert.x with multiple JVM languages including <strong>Java</strong>, <strong>JavaScript</strong>, <strong>Groovy</strong>, and <strong>Ruby</strong>.
          Vert.x doesn't care what language is <em>best</em> &mdash; you use what language(s) that <em>you</em> want depending on the
          task at hand and the skill-set of your team.</p>
        <p>We don't just force you to use our Java API in other languages - we provide
          <em>idiomatic</em> APIs for every language that Vert.x supports.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-general">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h3>General purpose</h3>
        <img src="{{ site_url }}assets/general_purpose.svg">
        <p>You can use Vert.x for all kinds of applications, for example: web applications and enterprise back-end
          applications.</p>
      </div>

      <div class="col-sm-6 text-center">
        <h3>Un-opinionated</h3>
        <img src="{{ site_url }}assets/opinion.svg">
        <p>Vert.x is not a framework or a container and we don't tell you a <em>correct</em> way to write an application.
          Instead we give you a lot of useful bricks and let you create your app the way <em>you</em> want to.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-fun">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Vert.x is <em>fun</em></h2>
        <p>Enjoy being a developer again. Spare a thought for your less fortunate colleagues using legacy technologies.</p>
      </div>
      <div class="col-sm-6 highlight-fun-right">
        <ul>
          <li><p>Vert.x is <em>lightweight</em> - Vert.x core is around 650kB in size.</p></li>
          <li><p>Vert.x is <em>fast</em>.</p></li>
          <li><p>Vert.x is an ideal choice for creating light-weight, high-performance, <em>micro-services</em>.</p></li>
          <li><p>Vert.x is <em>not an application server</em>. There's no monolithic Vert.x instance into which you deploy applications.
            You just run your apps wherever you want to.</p></li>
          <li><p>Vert.x is <em>modular</em> - when you need more bits just add the bits you need and nothing more.</p></li>
          <li><p>Vert.x is <em>simple but not simplistic</em>. Vert.x allows you to create powerful apps, simply.</p></li>
        </ul>
      </div>
    </div>

    <div class="row highlight highlight-stack">
      <div class="col-sm-12 text-center">
        <p>Vert.x is a stack for creating compelling, 21st century, reactive applications. As well as low level functionality Vert.x provides
          higher level building blocks for creating real-world applications.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-who">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Who is using Vert.x?</h2>
        <!-- iterate over logos and generate rows and cols for different resolutions -->
        {% set res = {"xs": 1, "sm": 2, "md": 3, "lg": 4} %}
        {% for cols in res %}
          {% set outerloopkey = loop.key %}
          {% set colwidth = 12 / cols %}
          <div class="visible-{{ outerloopkey }}-block">
            <div class="row user-logos">
              {% for logo in users_home_page %}
                <div class="col-sm-{{ colwidth }} user-logo">
                  <a href="{{ logo.link }}"><img src="{{ site_url }}assets/user_logos/{{ logo.src }}" width="180" height="{{ logo.height }}"></a>
                </div>
                {% if loop.index % cols == 0 %}
                  </div>
                  <div class="row user-logos">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="row">
          <div class="col-sm-12 wanttobelisted">
            <a class="btn btn-default btn-md btn-transparent" href="{{ site_url }}whos_using" role="button">{% icon "list" %} More &hellip;</a><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
